.portfolio-aboutpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-default-backgrounddark);
}
.portfolio-aboutpage-portfolio-aboutpage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-default-backgrounddark);
}
.portfolio-aboutpage-aboutheader {
  gap: 10px;
  width: 100%;
  display: flex;
  align-self: center;
  min-height: 600px;
  align-items: center;
  padding-top: 140px;
  padding-left: auto;
  padding-right: auto;
  flex-direction: column;
  padding-bottom: 140px;
  justify-content: center;
}
.portfolio-aboutpage-aboutheader1 {
  gap: 70px;
  width: 880px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.portfolio-aboutpage-persona {
  gap: 20px;
  width: 342px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.portfolio-aboutpage-image {
  width: 342px;
  height: 342px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.portfolio-aboutpage-image1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.portfolio-aboutpage-text {
  color: rgb(243, 243, 243);
  height: auto;
  flex-grow: 1;
  font-size: 17px;
  text-align: left;
  font-family: "Epilogue";
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.portfolio-aboutpage-text04 {
  color: var(--dl-color-default-textgreyout1);
  font-size: 17px;
  font-style: normal;
  font-family: "Epilogue";
  line-height: 27px;
}
.portfolio-aboutpage-text05 {
  color: var(--dl-color-default-textgreyout1);
  font-size: 17px;
  font-style: normal;
  font-family: "Epilogue";
  line-height: 27px;
}
.portfolio-aboutpage-text06 {
  color: var(--dl-color-default-textgreyout1);
  font-size: 17px;
  font-family: "Epilogue";
  font-weight: 700;
  line-height: 27px;
}
.portfolio-aboutpage-text07 {
  color: var(--dl-color-default-textgreyout1);
  font-size: 17px;
  font-style: normal;
  font-family: "Epilogue";
  font-weight: 700;
  line-height: 27px;
}
.portfolio-aboutpage-text08 {
  color: var(--dl-color-default-textgreyout1);
}
.portfolio-aboutpage-text09 {
  color: var(--dl-color-default-textgreyout1);
}
@media(max-width: 991px) {
  .portfolio-aboutpage-container {
    background-color: #000000;
  }
}
@media(max-width: 767px) {
  .portfolio-aboutpage-aboutheader1 {
    width: auto;
  }
}
